.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .contents {
  width: 80vw;
  margin-bottom: 300px;
}

@media (max-width: 600px) {
  .content .contents {
    margin-bottom: 150px;
  }
}
