.tab {
  width: 80vw;
  margin-bottom: 85px;
}

.tab ul {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.tab li {
  list-style: none;
  color: var(--color-dark);
  font-weight: 900;
  font-size: 25px;
  cursor: pointer;
  position: relative;
  padding: 0 5px;
  transition: 0.2s ease all;
  height: fit-content;
}

.tab li.active {
  background-color: var(--color-pink);
  color: white;
}

@media (max-width: 600px) {
  .tab {
    width: 90vw;
    display: flex;
    align-items: center;
    border-left: 2px solid var(--color-dark);
    border-right: 2px solid var(--color-dark);
    position: relative;
    margin-bottom: 60px;
  }

  .tab:before {
    content: url(../assets/images/arrowBack.svg);
    position: absolute;
    left: -4vw;
    top: 50%;
    height: fit-content;
    transform: translate(0, -50%);
    opacity: 0.2;
  }

  .tab:after {
    content: url(../assets/images/arrowNext.svg);
    position: absolute;
    right: -4vw;
    top: 50%;
    height: fit-content;
    transform: translate(0, -50%);
    opacity: 0.2;
  }

  .tab ul {
    overflow-x: auto;
    /* height: 70px; */
  }

  .tab li {
    padding: 10px 15px;
    /* border: 1px solid var(--color-pink); */
    /* margin: 0 15px; */
  }

  /* .tab li.active {
    padding: 15px 20px;
  } */
}
